* {
  margin: 0;
  list-style: none;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr .5fr;
  grid-template-rows: .5fr 1fr 1fr 1fr .5fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header"
    "left content content content right"
    "left content content content right"
    "left content content content right"
    "footer footer footer footer footer";
}
  
.header {
  grid-area: header;
  background-color: #333;
  color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header > nav > ul > li {
  margin: 0 1em;
}

.header > nav > ul > li > a {
  font-size: large;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header > nav > ul > li > a:hover {
  color: black;
}

.logo-container {
  display: flex;
  align-items: center;
}

.footer {
  grid-area: footer;
  background-color: #333;
  color: white;
}

.left {
  grid-area: left;
  background-color:black;
}

.right {
  grid-area: right;
  background-color: black;
}

.content {
  grid-area: content;
  display: flex;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/1_tianzishan_wulingyuan_zhangjiajie_2012.jpg/2560px-1_tianzishan_wulingyuan_zhangjiajie_2012.jpg);
}

.content-left {
  display: block;
  overflow: auto;
  max-width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
}

.content-left > p {
  margin: 4em;
  font-size: large;
}

.trump {
  border: 5px dashed hotpink;
}

.trump:hover {
  filter:hue-rotate(1800deg);
  transition: 2s;
}

.content-right {
  display: block;
  overflow: auto;
  overflow-x: hidden;
  grid-area: content-right;
}

.content-right > img {
  object-fit: cover;
  filter: drop-shadow(0 0 3rem #000);
}

.logo {
  width: clamp(2em, 6em, 8em);
  height: clamp(2em, 6em, 8em);
  margin: 1em;
}

@media (min-width: 800px) {
  nav > svg {
    display: none;
  }
}

@media (max-width: 800px) {
  nav > ul > li {
    display: none;
  }

  .logo-container > h1 {
    display: none;
  }

  svg {
    max-width: 4em;
    max-height: 4em;
  }

  .content {
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
  }

  .content-left {
    max-width: 100%;
    overflow: visible;
  }

  .logo-container > h1 {
    display: none;
  }
}